



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #6b2c28;
    --navFontSize: 1.3rem;

    --leftRightSpacing:350px;

    /* banner text color */
    --bannerTextColor:white;

    /* fontsize */
    /* Section bottom margin */
    --bottomMargin:100px;
    
}
p{
    margin: 0;
}
.custom-navbar {
    padding-left: var(--leftRightSpacing);
    padding-right:var(--leftRightSpacing);
}

.navbar-nav .nav-link {
    font-size: var(--navFontSize);
    color: #333;
    transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: var(--mainColor);
}


.cart-icon {
    color: var(--mainColor);
    
}

.cart-icon:hover {
    transform: scale(1.1);
    color: #551d1b;
}

.banner{
    background: url("img/main.webp") center center / cover no-repeat;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: var(--bottomMargin);
}

.banner__content{
    padding-left: var(--leftRightSpacing);
    padding-right: var(--leftRightSpacing);
    color:var(--bannerTextColor);
    font-size:var(--bannerTextsize);
}
.banner__btn,.new-collection__btn{
    background-color:var(--mainColor);
    color: white;
    min-width: 100px;
    border: none;
    padding: 10px;

}

.seller{
    margin-bottom: var(--bottomMargin);
}

.seller__image{
    height:350px;
    width:100%;
    object-fit: cover;

}

.seller__content{
    padding-top: 15px;
    font-size: 1.1rem;
}
.New-collection{
    background-color: rgb(231, 228, 228);
    margin-bottom: var(--bottomMargin);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    #mobileMenu {
        --bs-offcanvas-width: 220px;
    }
    :root{
        --leftRightSpacing:0;
    }
}
    
