*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
    
}
.logo{
    font-size: 1.25rem;
    font-weight: bold;
}
.nav{
    display: flex;
    gap: 25px;
}
.nav a{
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}
.nav a:hover{
    transform: scale(1.5);
}







.hero{
    padding: 5px;
}

.hero img {
    border-radius: 50%;
    transition: transform 0.5 ease;
}
.hero img:hover{
    content:url(img/profile3.jpeg) ;
    
}
    